*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  gap: 30px;
  width: 1140px;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: end;
}

/* Блок видео */

.result {
  grid-area: auto;
}
.search-form {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.result__video-container {
padding-bottom: 16px;
}

video {
  object-fit: cover;
  width: 711px;
  height: 386px;
}


/* Блок скроллбар */ 

.content__details {
  grid-area: auto;
}

.content__list-container {
  height: 534px;
  overflow: hidden scroll;
}